<ion-header translucent>
  <ion-toolbar>
    <ion-title>View Transactions</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list  *ngIf="transactions$">
    <ion-item *ngFor="let item of transactions">
      <ion-avatar slot="start" *ngIf="item.type =='Spending'">
        <img src="../../../assets/icon//expense.jpg">
      </ion-avatar>

      <ion-avatar slot="start" *ngIf="item.type =='Income'">
        <img src="../../../assets/icon//money-bag.png">
      </ion-avatar>

      <ion-avatar slot="start" *ngIf="item.type =='Investment'">
        <img src="../../../assets/icon//piggy-bank.jpg">
      </ion-avatar>

      <ion-grid>
        <ion-row>
          <ion-col class="ion-float-left">
              <h6 class="ion-text-capitalize">{{item.category}}</h6>
              <small>{{item.date.toDate() | date: 'mediumDate'}}</small>
              <div>
                <ion-note>{{item.notes}}</ion-note>
              </div>

          </ion-col>
          <ion-col class="ion-float-right">
              <h4>{{item.amount}}</h4>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>

