.img-box {
  width: 100%;
  min-height: 110px;
  // background-size: cover;
  background-repeat: no-repeat;
  background-size: 100px 100px;
  margin-left: 1em;
}

.main-box {
  width: 100%;
  min-height: 150px;

}

.title-text{
  white-space: inherit;
}


